// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////


// Spinner
.nhsuk-loader__container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.nhsuk-loader {
    pointer-events: none;
    width: 2.5em;
    height: 2.5em;
    border: 0.4em solid transparent;
    border-color: #eee;
    border-top-color: #3E67EC;
    border-radius: 50%;
    animation: loadingspin 1s linear infinite;
    display: flex;
    justify-content: center;
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}

// Test NHS login button update
.nhsuk-login-test {
    @extend .nhsuk-button;
    width: 300px;
    background-color:#005eb8;
    box-shadow: 0 4px 0 #002f5c;
    
    &:hover,
    &:active {
        background-color:#004A91;
    }

    &:focus {
        box-shadow: 0 0 0 4px #ffb81c;
        outline: 4px solid transparent;
        outline-offset: 4px;
        background-color:#005eb8;
      }
      
}


