
{% extends 'layout.html' %}

{% block pageTitle %}
  Manage your preferences for breast screening
{% endblock %}


{% block content %}

{{ backLink({
  "href": "appointment-adjustments",
  "text": "Back to appointment adjustments"
}) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="review-preferences" method="post">
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Do you have any access needs?
              </h1>
            </legend>

            <p>If you need a carer, you can bring them with you on the day.</p>
            <p>To help us plan properly, tell us if you:</p>

            <div class="nhsuk-hint" id="example-hint">
              Select all options that are relevant to you.
            </div>

            <div class="nhsuk-checkboxes">

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                  accessible toilet
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                  braille translation
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                  disabled car parking
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                  induction loop
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                  sign language service
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                  step free access
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                  text relay
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                  wheelchair access
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                  no access needs
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="nhsuk-button nhsuk-u-margin-top-4" type="submit">Continue</button>
      </form>
    </div>
  </div>
{% endblock %}
