
{% extends 'layout.html' %}

{% block pageTitle %}
  Manage your preferences for breast screening
{% endblock %}


{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <!-- could probably change to inset text on the main preferences index page -->
    <h1>
      Your preferences have been updated
    </h1>

    <a href="index"><button class="nhsuk-button" type="submit">Back to managing your preferences</button></a>

    </div>
  </div>
{% endblock %}
