
{% extends 'layout.html' %}

{% block pageTitle %}
  Manage your preferences for breast screening
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Manage your NHS breast screening preferences</h1>

      <p>Use this service to choose:</p>
      <ul>
        <li>how you're contacted about breast screening services</li>
        <li>what language and format you get information in</li>
        <li>any access needs or appointment adjustments you need</li>
        <li>your pronouns</li>
        <li>languages preferences</li>
      </ul>
      
      <a href="https://www.nhs.uk/conditions/breast-cancer-screening/" class="nhsuk-link">Find out more about NHS breast screening</a>
      <br><br>

      <h2>Before you start</h2>
      <p>This service uses NHS login. It is a new way to log in to health websites and apps.</p>
      <p>To set up an NHS login you need:</p>
      <ul>
        <li>an email address</li>
        <li>a UK mobile phone numbeer</li>
      </ul>

      <!--- NHS login button -->
      <a href="#"><button class="nhsuk-button" type="submit">Filler button for Login</button></a>


    </div>
  </div>
{% endblock %}
