
{% extends 'layout.html' %}

{% block pageTitle %}
  Manage your preferences for breast screening
{% endblock %}

{% block pageScripts %}
<style>
.nhsuk-login {
  background-color:#005eb8;
  box-shadow: 0 4px 0 #002f5c;
}

.nhsuk-login:focus {
  box-shadow: 0 0 0 4px #ffb81c;
  outline: 4px solid transparent;
  outline-offset: 4px;
  background-color:#005eb8;
}

.nhsuk-login:active {
  background-color:#004A91;
  outline: none;
}

.nhsuk-button {
  color: #ffffff!important;
}

.nhsuk-button:hover {
  background-color:#004A91;
  box-shadow: 0 0 0 4px #ffcd60;
  outline: none;
}
</style> 

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Manage your NHS breast screening preferences</h1>

      <p>Use this service to choose:</p>
      <ul>
        <li>how you're contacted about breast screening services</li>
        <li>what language and format you get information in</li>
        <li>any access needs or appointment adjustments you need</li>
        <li>your pronouns</li>
        <li>languages preferences</li>
      </ul>
      
      <p><a href="https://www.nhs.uk/conditions/breast-cancer-screening/" class="nhsuk-link">Find out more about NHS breast screening</a></p>

      <h2>Before you start</h2>
      <p>This service uses NHS login. It is a new way to log in to health websites and apps.</p>
      <p>To set up an NHS login you need:</p>
      <ul>
        <li>an email address</li>
        <li>a UK mobile phone number</li>
      </ul>

      <a href="/preferences/login-loading" class="nhsuk-button nhsuk-login">Continue with NHS login</a>

    </div>
  </div>
{% endblock %}
