
{% extends 'layout.html' %}

{% block pageTitle %}
  Manage your preferences for breast screening
{% endblock %}


{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full-width">

    <meta http-equiv="refresh" content="2;url=/preferences/manage-preferences-home" />
      <div class="nhsuk-loader__container">
        <h1 class="nhsuk-heading-l">Checking your details</h1>
      </div>
      <div class="nhsuk-loader__container">
        <div class="nhsuk-loader">
        </div>
      </div>

    </div>
  </div>
{% endblock %}
