
{% extends 'layout.html' %}

{% block pageTitle %}
  Manage your preferences for breast screening
{% endblock %}

{% block pageScripts %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Manage your NHS breast screening preferences</h1>


    <h2>Information</h2>
      <p>You chose information in:</p>
      <ul>
        <li>Easy read format</li> <!-- needs to be populated from other pages-->
        <li>Welsh</li>
      </ul>
      <p><a href="choose-your-language" class="nhsuk-link">Change your information needs</a></p>

    <h2>Contact preferences</h2>
      <p>You chose to be contacted by:</p>
      <ul>
        <li>Email</li> <!-- needs to be populated from other pages-->
        <li>Text message</li>
      </ul>
      <p><a href="contact-preferences" class="nhsuk-link">Change your contact preferences</a></p>

    <h2>Appointment needs</h2>
     <p>You told us you:</p>
      <ul>
        <li>Have a learning disability</li> <!-- needs to be populated from other pages-->
        <li>need disable car parking</li>
        <li>need step free access</li>
      </ul>
      <p><a href="appointment-adjustments" class="nhsuk-link">Change your appointment needs</a></p>

    <h2>Pronouns</h2>
      <p>You chose:</p>
      <ul>
        <li>They/them pronouns</li> <!-- needs to be populated from other pages-->
      </ul>
      <p><a href="choose-your-pronouns" class="nhsuk-link">Change your pronouns</a></p>

    <h2>Language preferences</h2>
      <p>You told us you:</p>
      <ul>
        <li>Please use chest instead of breast when talking about screening and don't use the phrase 'it will be over soon'.</li> <!-- needs to be populated from other pages-->
      </ul>
      <p><a href="choose-your-words" class="nhsuk-link">Change your language preferences</a></p>
     
      
      
      
      

  


    </div>
  </div>
{% endblock %}
