
{% extends 'layout.html' %}

{% block pageTitle %}
  Manage your preferences for breast screening
{% endblock %}


{% block content %}

<!-- For each page that appears directly before this review page
I've added a name and value to the submit buttons so it'll change the backlink
and information displayed here accordingly.

If it's too complex - we can just do individual review/summary pages. -->

{% if data['preference-type'] == ['choose-format'] %}
{{ backLink({
  "href": "choose-your-format",
  "text": "Back to choosing your format preference"
}) }}
{% endif %}

{% if data['preference-type'] == ['choose-pronouns'] %}
{{ backLink({
  "href": "choose-your-pronouns",
  "text": "Back to choosing your pronouns"
}) }}
{% endif %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-form-group">
        <form action="confirm-preferences" method="post">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Review your chosen preferences
              </h1>
            </legend>

          <dl class="nhsuk-summary-list">
            
            {% if data['preference-type'] == ['choose-format'] %}
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Language preference</dt>
              <dd class="nhsuk-summary-list__value">
              {{ data['language-preference'] or 'No option selected'}}
              </dd>
              <dd class="nhsuk-summary-list__actions"><a href="choose-your-language">Change<span class="nhsuk-u-visually-hidden">language preference</span></a></dd>
            </div>
            
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Formatting preference</dt>
              <dd class="nhsuk-summary-list__value">
              {{ data['format-preference'] or 'No option selected'}}
              </dd>
              <dd class="nhsuk-summary-list__actions"><a href="choose-your-format">Change<span class="nhsuk-u-visually-hidden">formatting preference</span></a></dd>
            </div>
            {% endif %}

            {% if data['preference-type'] == ['choose-pronouns'] %}
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Pronouns</dt>
              <dd class="nhsuk-summary-list__value">
              {% if data['pronouns'] != ['something-else'] %}
              {{ data['pronouns'] }}
              {% else %}
              {{ data['other-pronouns'] or 'No option selected' }}
              {% endif %}
              </dd>
              <dd class="nhsuk-summary-list__actions"><a href="choose-your-pronouns">Change<span class="nhsuk-u-visually-hidden">language preference</span></a></dd>
            </div>            
            {% endif %}

            {% if data['preference-type'] == ['choose-words'] %}
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Word or phrase preferences</dt>
              <dd class="nhsuk-summary-list__value">
              {{ data['word-preference'] or 'No text entered' }}
              </dd>
              <dd class="nhsuk-summary-list__actions"><a href="choose-your-words">Change<span class="nhsuk-u-visually-hidden">word preference</span></a></dd>
            </div>            
            {% endif %}



          </dl>


          </fieldset>

          <button class="nhsuk-button nhsuk-u-margin-top-4" type="submit">Submit</button>

        </form>

      </div>


    </div>
  </div>
{% endblock %}
